---
import { IconGithub, IconLinkedIn } from "~/components/icons";
const {} = Astro.props;
---

<footer>
  <div class="max-w-6xl mx-auto px-4 sm:px-6">
    <div
      class="md:flex md:items-center md:justify-between py-4 md:py-8 border-t border-gray-200 dark:border-slate-800"
    >
      <ul class="flex mb-1 md:order-1 md:ml-4 md:mb-0">
        <li>
          <a
            class="flex justify-center items-center text-gray-600 hover:text-gray-500 bg-white hover:bg-white-200 rounded-full shadow transition duration-150 ease-in-out dark:text-gray-400 dark:bg-gray-800 dark:hover:bg-gray-700 p-1.5"
            aria-label="GitHub"
            href="https://github.com/DaniKOrdo"
            rel="noopener nofollow"
            target="_blank"
          >
            <IconGithub />
          </a>
        </li>
        <li class="ml-4">
          <a
            class="flex justify-center items-center text-gray-600 hover:text-gray-500 bg-white hover:bg-white-200 rounded-full shadow transition duration-150 ease-in-out dark:text-gray-400 dark:bg-gray-800 dark:hover:bg-gray-700 p-1.5"
            aria-label="LinkedIn"
            href="https://www.linkedin.com/in/danikdev/"
            rel="noopener nofollow"
            target="_blank"
          >
            <IconLinkedIn />
          </a>
        </li>
      </ul>
      <!-- <div class="text-sm text-gray-700 mr-4 dark:text-slate-400">
        Made with ❤️ by <a
          class="text-blue-600 hover:underline dark:text-gray-200"
          href="https://danik.dev/"
          rel="noopener nofollow"
        >
          DaniK
        </a>
      </div> -->
    </div>
  </div>
</footer>
