---
import IconMail from "../icons/IconMail.astro";
import IconGithubRounded from "../icons/IconGithubRounded.astro";
import IconLinkedInRounded from "../icons/IconLinkedInRounded.astro";
const {} = Astro.props;
---

<section>
  <div
    id="inicio"
    class="container mx-auto flex flex-col gap-9 overflow-x-hidden lg:max-w-6xl px-4 py-16 sm:px-6 md:h-[94vh]"
  >
    <div
      class="grid grid-cols-2 gap-3 md:place-content-center md:h-screen items-center justify-items-center"
    >
      <div class="col-span-2 md:col-span-1 px-4">
        <p class="text-xl md:text-2xl">Hola, soy</p>
        <span
          class="text-5xl md:text-6xl font-bold pb-3 bg-clip-text text-transparent bg-gradient-to-r from-blue-500 to-purple-500"
          >DaniK
        </span>
        <p class="text-2xl md:text-3xl mt-2 dark:text-white">
          Frontend Developer apasionado por la tecnología y la programación.
        </p>
        <p class="text-md md:text-xl mt-2 dark:text-blue-100">
          Siempre estoy aprendiendo nuevas tecnologías y buscando nuevas formas
          de mejorar mis proyectos.
        </p>
        <div class="flex flex-col-reverse lg:flex-row my-8 items-center">
          <a
            href="mailto:hola@danik.dev"
            rel="noopener nofollow"
            aria-label="Contacto"
            class="flex flex-row items-center gap-4 contacto bg-blue-500 text-white font-bold py-4 px-6 border-b-4 border-blue-700 hover:border-blue-500 rounded-xl text-xl lg:mr-4"
            >Contacto <IconMail />
          </a>
          <div class="flex flex-row">
            <a
              href="https://github.com/DaniKOrdo"
              target="_blank"
              rel="noopener nofollow"
              aria-label="Github"
              class="m-3 hover:brightness-125"
            >
              <IconGithubRounded />
            </a>
            <a
              href="https://www.linkedin.com/in/danikdev"
              target="_blank"
              rel="noopener nofollow"
              aria-label="Linkedin"
              class="m-3 hover:brightness-125"
            >
              <IconLinkedInRounded />
            </a>
          </div>
        </div>
      </div>

      <!-- Imagen Derecha  rounded-md shadow-lg bg-gray-400 dark:bg-slate-700 -->
      <!--  border-radius: 30% 70% 67% 33% / 30% 30% 70% 70%  -->
      <div class="col-span-2 md:col-span-1 content-center my-4 md:my-0">
        <div
          class="my-atropos mx-auto border-fancy md:max-w-[400px] select-none touch-none touch-pan-y"
        >
          <div class="atropos">
            <div class="atropos-scale">
              <div class="atropos-rotate">
                <div class="atropos-inner">
                  <img
                    class=""
                    src="/images/foto-perfil-fondo.png"
                    data-atropos-offset="-5"
                  />
                  <img
                    class="layer"
                    src="/images/foto-perfil-cara.png"
                    data-atropos-offset="0"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  import Atropos from "atropos";
  import "atropos/css";

  const myAtropos = Atropos({
    el: ".my-atropos",
    activeOffset: 40,
    shadowScale: 1.1,
    shadow: false,
    highlight: false,
    onEnter() {
      // console.log("Enter");
    },
    onLeave() {
      // console.log("Leave");
    },
    onRotate(x, y) {
      // console.log("Rotate", x, y);
    },
  });
</script>

<style>
  .my-atropos {
    position: relative;
  }

  .layer {
    position: absolute;
    top: 0;
    height: 100%;
  }
</style>
