---
import Picture from "~/components/core/Picture.astro";
import IconMail from "../icons/IconMail.astro";
const {} = Astro.props;
---

<section>
  <div
    id="inicio"
    class="container mx-auto flex flex-col gap-9 overflow-x-hidden lg:max-w-6xl px-4 py-16 sm:px-6 md:h-[94vh]"
  >
    <!-- flex justify-around items-center -->
    <div
      class="grid grid-cols-2 gap-3 md:place-content-center md:h-screen items-center justify-items-center"
    >
      <div class="col-span-2 md:col-span-1 px-4">
        <p class="text-xl md:text-2xl">Hola, soy</p>
        <span
          class="text-5xl md:text-6xl font-bold pb-3 bg-clip-text text-transparent bg-gradient-to-r from-blue-500 to-purple-500"
          >DaniK
        </span>
        <p class="text-2xl md:text-3xl mt-2 dark:text-white">
          Frontend Developer apasionado por la tecnología y la programación.
        </p>
        <p class="text-md md:text-xl mt-2 dark:text-blue-100">
          Siempre estoy aprendiendo nuevas tecnologías y buscando nuevas formas
          de mejorar mis proyectos.
        </p>
        <div class="flex flex-col-reverse lg:flex-row my-8 items-center">
          <a
            href="mailto:hola@danik.dev"
            rel="noopener nofollow"
            aria-label="Contacto"
            class="flex flex-row items-center gap-4 contacto bg-blue-500 text-white font-bold py-4 px-6 border-b-4 border-blue-700 hover:border-blue-500 rounded text-xl lg:mr-4"
            >Contacto <IconMail />
          </a>
          <div class="flex flex-row">
            <a
              href="https://github.com/DaniKOrdo"
              target="_blank"
              rel="noopener nofollow"
              aria-label="Github"
              class="m-3 hover:brightness-125"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                viewBox="0 0 48 48"
                width="48px"
                height="48px"
              >
                <g id="surface12086354">
                  <path
                    style=" stroke:none;fill-rule:nonzero;fill:rgb(44.705883%,45.882353%,49.411765%);fill-opacity:1;"
                    d="M 24 4 C 12.972656 4 4 12.972656 4 24 C 4 35.027344 12.972656 44 24 44 C 35.027344 44 44 35.027344 44 24 C 44 12.972656 35.027344 4 24 4 Z M 24 7 C 33.40625 7 41 14.59375 41 24 C 41 31.664062 35.957031 38.121094 29 40.25 L 29 35.136719 C 29 33.226562 27.898438 31.589844 26.308594 30.773438 C 29.445312 30.171875 32.03125 28.398438 33.246094 26.007812 C 34.460938 23.617188 34.160156 20.902344 32.4375 18.722656 C 32.882812 17.355469 33.375 14.960938 32.199219 13.074219 C 29.929688 13.074219 28.464844 14.632812 27.765625 15.597656 C 26.570312 15.207031 25.292969 15.003906 24 15 C 22.707031 15 21.425781 15.203125 20.230469 15.59375 C 19.53125 14.625 18.066406 13.074219 15.800781 13.074219 C 14.449219 15.238281 15.285156 17.566406 15.734375 18.515625 C 13.890625 20.6875 13.503906 23.445312 14.691406 25.894531 C 15.875 28.339844 18.488281 30.167969 21.683594 30.777344 C 20.375 31.453125 19.398438 32.675781 19.097656 34.15625 L 17.785156 34.15625 C 16.484375 34.15625 15.980469 33.628906 15.28125 32.738281 C 14.589844 31.851562 13.84375 31.253906 12.953125 31.007812 C 12.46875 30.953125 12.144531 31.320312 12.566406 31.644531 C 13.984375 32.613281 14.082031 34.195312 14.652344 35.226562 C 15.167969 36.160156 16.230469 37 17.429688 37 L 19 37 L 19 40.25 C 12.042969 38.121094 7 31.664062 7 24 C 7 14.59375 14.59375 7 24 7 Z M 24 7 "
                  ></path>
                </g>
              </svg>
            </a>
            <a
              href="https://www.linkedin.com/in/danikdev"
              target="_blank"
              rel="noopener nofollow"
              aria-label="Linkedin"
              class="m-3 hover:brightness-125"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                viewBox="0 0 48 48"
                width="48px"
                height="48px"
              >
                <g id="surface12107703">
                  <path
                    style=" stroke:none;fill-rule:nonzero;fill:rgb(44.705883%,45.882353%,49.411765%);fill-opacity:1;"
                    d="M 11.5 6 C 8.480469 6 6 8.480469 6 11.5 L 6 36.5 C 6 39.519531 8.480469 42 11.5 42 L 36.5 42 C 39.519531 42 42 39.519531 42 36.5 L 42 11.5 C 42 8.480469 39.519531 6 36.5 6 Z M 11.5 9 L 36.5 9 C 37.898438 9 39 10.101562 39 11.5 L 39 36.5 C 39 37.898438 37.898438 39 36.5 39 L 11.5 39 C 10.101562 39 9 37.898438 9 36.5 L 9 11.5 C 9 10.101562 10.101562 9 11.5 9 Z M 15.5 13 C 14.121094 13 13 14.121094 13 15.5 C 13 16.878906 14.121094 18 15.5 18 C 16.878906 18 18 16.878906 18 15.5 C 18 14.121094 16.878906 13 15.5 13 Z M 14 20 C 13.445312 20 13 20.445312 13 21 L 13 34 C 13 34.554688 13.445312 35 14 35 L 17 35 C 17.554688 35 18 34.554688 18 34 L 18 21 C 18 20.445312 17.554688 20 17 20 Z M 21 20 C 20.445312 20 20 20.445312 20 21 L 20 34 C 20 34.554688 20.445312 35 21 35 L 24 35 C 24.554688 35 25 34.554688 25 34 L 25 26.5 C 25 25.121094 26.121094 24 27.5 24 C 28.878906 24 30 25.121094 30 26.5 L 30 34 C 30 34.554688 30.445312 35 31 35 L 34 35 C 34.554688 35 35 34.554688 35 34 L 35 26 C 35 22.691406 32.308594 20 29 20 C 27.460938 20 26.0625 20.585938 25 21.539062 L 25 21 C 25 20.445312 24.554688 20 24 20 Z M 21 20 "
                  ></path>
                </g>
              </svg>
            </a>
            <!-- <a href="https://twitter.com/danik_dev" target="_blank" class="m-3">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 48 48" width="48px" height="48px">
                            <g id="surface12106336">
                            <path style=" stroke:none;fill-rule:nonzero;fill:rgb(44.705883%,45.882353%,49.411765%);fill-opacity:1;" d="M 32 6 C 26.570312 6 22.160156 10.390625 22.042969 15.792969 C 17.242188 15.21875 14.113281 13.421875 12.195312 11.652344 C 10.066406 9.691406 9.394531 7.945312 9.394531 7.945312 C 9.195312 7.441406 8.738281 7.085938 8.199219 7.015625 C 7.660156 6.941406 7.125 7.164062 6.800781 7.597656 C 6.800781 7.597656 5 10 5 13.5 C 5 15.5 5.632812 16.980469 6.386719 18.234375 C 6.355469 18.222656 6.171875 18.15625 6.171875 18.15625 C 5.683594 17.914062 5.101562 17.953125 4.652344 18.261719 C 4.203125 18.570312 3.957031 19.09375 4.007812 19.636719 C 4.007812 19.636719 4.582031 23.855469 8.550781 26.941406 L 8.136719 27.042969 C 7.679688 27.160156 7.304688 27.480469 7.121094 27.910156 C 6.9375 28.34375 6.964844 28.835938 7.195312 29.242188 C 7.195312 29.242188 7.871094 30.382812 9.277344 31.578125 C 10.113281 32.289062 11.34375 33.023438 12.789062 33.699219 C 11.011719 34.351562 8.363281 35 4.5 35 C 3.910156 35 3.375 35.34375 3.132812 35.878906 C 2.890625 36.417969 2.984375 37.046875 3.371094 37.488281 C 3.371094 37.488281 4.515625 38.75 6.785156 39.847656 C 9.050781 40.949219 12.539062 42 17.5 42 C 26.21875 42 32.484375 37.816406 36.394531 32.515625 C 40.304688 27.214844 42 20.859375 42 16 C 42 15.691406 41.980469 15.386719 41.953125 15.085938 C 44.0625 13.050781 44.855469 11.523438 44.894531 11.449219 C 45.085938 11.066406 45.015625 10.609375 44.71875 10.304688 C 44.425781 10 43.96875 9.914062 43.582031 10.089844 L 43.421875 10.164062 C 43.28125 10.230469 43.140625 10.292969 43.003906 10.355469 C 43.410156 9.707031 43.730469 9.015625 43.953125 8.296875 C 44.078125 7.902344 43.941406 7.46875 43.617188 7.210938 C 43.289062 6.953125 42.835938 6.925781 42.480469 7.144531 C 41.257812 7.886719 40.085938 8.40625 38.867188 8.753906 C 37.074219 7.054688 34.65625 6 32 6 Z M 32 9 C 35.882812 9 39 12.117188 39 16 C 39 20.140625 37.445312 26.035156 33.980469 30.734375 C 30.515625 35.433594 25.28125 39 17.5 39 C 13.734375 39 11.230469 38.320312 9.355469 37.582031 C 11.320312 37.277344 13.011719 36.871094 14.230469 36.398438 C 16.339844 35.582031 17.476562 34.636719 17.476562 34.636719 C 17.902344 34.273438 18.089844 33.699219 17.960938 33.15625 C 17.832031 32.609375 17.40625 32.179688 16.863281 32.042969 C 14.140625 31.363281 12.394531 30.261719 11.300781 29.34375 L 12.863281 28.953125 C 13.5 28.796875 13.957031 28.246094 13.996094 27.589844 C 14.039062 26.9375 13.648438 26.335938 13.039062 26.097656 C 9.792969 24.851562 8.429688 23.085938 7.734375 21.605469 C 8.582031 21.78125 9.371094 22 10.5 22 C 11.195312 22 11.800781 21.519531 11.957031 20.84375 C 12.117188 20.167969 11.792969 19.46875 11.171875 19.160156 C 11.171875 19.160156 8 17.699219 8 13.5 C 8 12.746094 8.207031 12.269531 8.363281 11.695312 C 8.882812 12.398438 9.316406 13.078125 10.160156 13.855469 C 12.734375 16.230469 16.992188 18.652344 23.421875 18.996094 C 23.832031 19.019531 24.234375 18.871094 24.53125 18.589844 C 24.832031 18.304688 25 17.910156 25 17.5 L 25 16 C 25 12.117188 28.117188 9 32 9 Z M 32 9 "></path>
                            </g>
                            </svg>    
                        </a> -->
          </div>
        </div>
      </div>

      <!-- Imagen Derecha  rounded-md shadow-lg bg-gray-400 dark:bg-slate-700 -->
      <!--  border-radius: 30% 70% 67% 33% / 30% 30% 70% 70%  -->
      <div class="col-span-2 md:col-span-1 content-center my-4 md:my-0">
        <Picture
          src={import("~/assets/images/foto-perfil.png")}
          class="mx-auto border-fancy shadow-lg bg-gray-400 dark:bg-slate-700 pointer-events-none select-none md:max-w-[400px]"
          widths={[800, 800]}
          sizes=" (max-width: 800px) 800, 800px"
          alt="My face"
          aspectRatio="1:1"
          loading="auto"
        />
      </div>
    </div>
  </div>
</section>
