---
import { IconDK } from "~/components/icons";
const {} = Astro.props;
---

<span
  class="self-center text-2xl font-extrabold text-gray-900 whitespace-nowrap dark:text-white"
>
  <IconDK class="w-8 h-8 hover:rotate-12 transition duration-300 ease-in-out" />
</span>
