---
import { IconJS, IconTailwind, IconArduino, IconPHP } from "~/components/icons";
import Picture from "~/components/core/Picture.astro";
import ButtonsProjects from "../core/ButtonsProjects.astro";
const {} = Astro.props;
---

<section class="px-4 py-16 mx-auto max-w-6xl lg:px-8 lg:py-20">
  <div class="max-w-xl mb-10 md:mx-auto sm:text-center lg:max-w-2xl md:mb-12">
    <h1
      class="text-4xl md:text-5xl font-bold leading-tighter tracking-tighter mb-4"
    >
      Proyectos
    </h1>
    <p
      class="max-w-3xl mx-auto sm:text-center text-xl text-gray-600 dark:text-slate-400"
    >
      Estos son algunos de mis proyectos
    </p>
  </div>
  <div class="grid mx-auto gap-4 space-y-6 md:grid-cols-2 md:space-y-0">
    <div
      class="space-y-8 sm:px-8 flex justify-center p-6 bg-blue-50 dark:bg-slate-800 rounded"
    >
      <div class="flex flex-col max-w-md">
        <Picture
          src={import("~/assets/images/proyecto1.png")}
          class="pointer-events-none select-none"
          widths={[420, 208]}
          sizes=" (max-width: 400px) 400, 400px"
          alt="My face"
          aspectRatio="18:9"
        />
        <h2 class="text-3xl md:text-4xl font-bold tracking-tighter mb-4">
          Garduino
        </h2>
        <div class="flex flex-row max-w-md gap-3">
          <IconJS />
          <IconArduino />
          <IconTailwind />
        </div>
        <p class="my-4">
          Con este proyecto he conseguido tener un riego autom치tico mediante
          arduino y raspberry, gracias a sensores y bombas de agua. panel de
          control. Todo esto con un dise침o responsive y minimalista.
        </p>
        <ButtonsProjects
          opacityView="opacity-50 cursor-default"
          hrefCode={"https://danik.dev/"}
          hrefInfo={"/proyectos/garduino"}
        />
      </div>
    </div>

    <div
      class="space-y-8 sm:px-8 flex justify-center p-6 bg-blue-50 dark:bg-slate-800 rounded"
    >
      <div class="flex flex-col max-w-md">
        <Picture
          src={import("~/assets/images/proyecto1.png")}
          class="pointer-events-none select-none"
          widths={[420, 208]}
          sizes=" (max-width: 400px) 400, 400px"
          alt="My face"
          aspectRatio="18:9"
        />
        <h2 class="text-3xl md:text-4xl font-bold tracking-tighter mb-4">
          Garduino
        </h2>
        <div class="flex flex-row max-w-md gap-3">
          <IconJS />
          <IconArduino />
          <IconTailwind />
        </div>
        <p class="my-4">
          Con este proyecto he conseguido tener un riego autom치tico mediante
          arduino y raspberry, gracias a sensores y bombas de agua.
          Complementando el proyecto con una interfaz con estadisticas y un
          panel de control. Todo esto con un dise침o responsive y minimalista.
        </p>
        <ButtonsProjects
          hrefView={"https://danik.dev/"}
          hrefCode={"https://danik.dev/"}
          hrefInfo={"https://danik.dev/"}
        />
      </div>
    </div>
  </div>
</section>
