---
import {
  IconJS,
  IconTailwind,
  IconArduino,
  IconAstro,
  IconAstroDark,
} from "~/components/icons";
import ProyectoPlantilla from "~/assets/images/plantilla-proyecto.png";
import ProyectoPortfolio from "~/assets/images/portfolio.png";
import Picture from "~/components/core/Picture.astro";
import ButtonsProjects from "../core/ButtonsProjects.astro";
const {} = Astro.props;
---

<section id="proyectos" class="px-4 py-16 mx-auto max-w-6xl lg:py-20">
  <div
    class="max-w-xl mb-10 md:mx-auto sm:text-center lg:max-w-2xl md:mb-12 px-6"
  >
    <h1
      class="text-4xl md:text-5xl font-bold leading-tighter tracking-tighter mb-4"
    >
      Proyectos
    </h1>
    <p
      class="max-w-3xl mx-auto sm:text-center text-xl text-gray-600 dark:text-slate-400"
    >
      Estos son algunos de mis proyectos
    </p>
  </div>
  <div class="grid mx-auto gap-4 space-y-6 md:grid-cols-2 md:space-y-0">
    <div
      class="space-y-8 sm:px-8 flex justify-center p-6 bg-blue-50 dark:bg-slate-800 rounded"
    >
      <div class="flex flex-col max-w-md">
        <Picture
          src={ProyectoPlantilla}
          class="pointer-events-none select-none"
          widths={[420, 208]}
          sizes=" (max-width: 400px) 400, 400px"
          alt="Garduino"
          aspectRatio="18:9"
        />
        <h2 class="text-3xl md:text-4xl font-bold tracking-tighter mb-4">
          Garduino
        </h2>
        <div class="flex flex-row max-w-md gap-3">
          <IconJS />
          <IconArduino />
          <IconTailwind />
        </div>
        <p class="my-4">
          Con este proyecto quiero tener un riego automático mediante arduino y
          raspberry, gracias a sensores y bombas de agua. Un panel de control a
          tiempo real con datos y estadísticas de cada planta.
        </p>
        <ButtonsProjects
          hrefView="#Próximamente"
          target="_self"
          opacityView="opacity-50 cursor-default"
          hrefCode={"https://github.com/DaniKOrdo/Garduino"}
          hrefInfo={"./proyectos/garduino"}
        />
      </div>
    </div>

    <div
      class="space-y-8 sm:px-8 flex justify-center p-6 bg-blue-50 dark:bg-slate-800 rounded"
    >
      <div class="flex flex-col max-w-md">
        <Picture
          src={ProyectoPortfolio}
          class="pointer-events-none select-none"
          widths={[420, 208]}
          sizes=" (max-width: 400px) 400, 400px"
          alt="Portfolio"
          aspectRatio="18:9"
        />
        <h2 class="text-3xl md:text-4xl font-bold tracking-tighter mb-4">
          Portfolio
        </h2>
        <div class="flex flex-row max-w-md gap-3">
          <div class="hidden dark:block"><IconAstro /></div>
          <div class="dark:hidden"><IconAstroDark /></div>
          <IconTailwind />
        </div>
        <p class="my-4">
          Este es mi portfolio, la página que estás viendo ahora mismo. He
          querido hacerlo simple y minimalista, con un diseño responsive, con un
          buen SEO y performance. Para ello he utilizado el framework Astro y el
          preprocesador TailwindCSS.
        </p>
        <ButtonsProjects
          hrefView={"https://danik.dev/"}
          target="_self"
          hrefCode={"https://github.com/DaniKOrdo/danik.dev-astro"}
          hrefInfo="#Próximamente"
          opacityInfo="opacity-50 cursor-default"
        />
      </div>
    </div>
  </div>
</section>
