---
import Picture from "~/components/core/Picture.astro";
const {} = Astro.props;
---

<section class="px-4 mx-auto max-w-6xl lg:px-8 bg-blue-50 dark:bg-slate-800">
  <div
    class="grid gap-6 row-gap-10 md:grid-cols-2 px-4 py-16 sm:px-6 mx-auto lg:px-8 lg:py-20 max-w-6xl"
  >
    <div class="md:pr-16 text-gray-700 dark:text-gray-400">
      <h1
        class="text-4xl md:text-5xl font-bold leading-tighter tracking-tighter mb-4"
      >
        Experiencia
      </h1>
      <div class="flex">
        <div class="flex flex-col items-center mr-4 mt-1">
          <div>
            <div
              class="flex items-center justify-center w-7 h-7 rounded-full border-blue-300 border-2"
            >
            </div>
          </div>
          <div class="w-px h-full bg-gray-300 dark:bg-slate-500"></div>
        </div>
        <div class="flex">
          <div class="pt-1 pb-8">
            <h2
              class="mb-2 text-xl font-bold text-gray-900 dark:text-slate-300"
            >
              System Administrator & Web Developer
            </h2>
            <h3 class="mb-1 text-lg text-gray-800 dark:text-slate-500">
              SNTec
            </h3>
            <h4 class="mb-1 text-sm text-gray-800 dark:text-slate-500">
              Oct 2021 - Sep 2022 · 12 months
            </h4>
            <div class="pl-4">
              <p>- Infrastructure maintenance</p>
              <p>- Server management</p>
              <p>- Backup, users and files</p>
              <p>- Development with PHP, JavaScript and SQL</p>
              <p>- Apache server management</p>
              <p>- WordPress and PrestaShop</p>
            </div>
          </div>
        </div>
      </div>
      <div class="flex">
        <div class="flex flex-col items-center mr-4 mt-1">
          <div>
            <div
              class="flex items-center justify-center w-7 h-7 rounded-full border-blue-300 border-2"
            >
            </div>
          </div>
        </div>
        <div class="flex">
          <div class="pt-1 pb-8">
            <h2
              class="mb-2 text-xl font-bold text-gray-900 dark:text-slate-300"
            >
              Frontend Developer
            </h2>
            <h3 class="mb-1 text-lg text-gray-800 dark:text-slate-500">
              Windnova Systems S.L
            </h3>
            <h4 class="mb-1 text-sm text-gray-800 dark:text-slate-500">
              Mar 2021 - Jun 2021 · 4 months
            </h4>
            <div class="pl-4">
              <p>Internship contract in which I performed and learned:</p>
              <p>- Programming PHP, JavaScript y SQL</p>
              <p>- Jira Software</p>
              <p>- MySQL Workbench</p>
              <p>- Docker</p>
              <p>- Git Flow</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="relative"></div>
  </div>
</section>
