---
import Layout from "~/layouts/PageLayout.astro";

import { SITE } from "~/config.mjs";
import { fetchPosts } from "~/utils/fetchPosts";

import ProjectList from "~/components/widgets/ProjectList.astro";

export async function getStaticPaths({ paginate }) {
  const posts = await fetchPosts();

  return paginate(posts, {
    pageSize: SITE.postsPerPage,
  });
}

const { page } = Astro.props;

const currentPage = page.currentPage ?? 1;

const title = `Proyectos ${
  currentPage > 1 ? `— Página ${currentPage} ` : ""
}— ${SITE.name}`;
const description = "Proyectos Desarrollo Web";
const canonical = new URL(page.url.current, Astro.site);
---

<Layout meta={{ title, description, canonical }}>
  <main>
    <ProjectList page={page} />
  </main>
</Layout>
