@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply inline-flex items-center justify-center rounded border border-transparent font-medium text-center text-base leading-snug transition py-3 px-6 shadow-lg ease-in duration-200 focus:ring-blue-500 focus:ring-offset-blue-200 focus:ring-2 focus:ring-offset-2;
  }
}

.contacto:hover {
  transition: 0.3s;
  border-bottom-width: 0px;
  background-color: #3878df;
}

.contacto:active {
  transition: 0.3s;
  background-color: #2f68c4;
}

.border-fancy {
  border-radius: 37% 63% 67% 33% / 30% 33% 67% 70%;
}

.buttons-projects a{
  font-size: 30px;
  color: white;
  border-radius: 50%;
  background: #0d0d0d;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  transition: all 0.3s ease-out;
  transform: none;
  margin-top: 1rem;
}