@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply inline-flex items-center justify-center rounded border border-transparent font-medium text-center text-base leading-snug transition py-3 px-6 shadow-lg ease-in duration-200 focus:ring-blue-500 focus:ring-offset-blue-200 focus:ring-2 focus:ring-offset-2;
  }
}

html {
  scroll-behavior: smooth;
}

.contacto:hover {
  transition: 0.3s;
  border-bottom-width: 0px;
  background-color: #3878df;
}

.contacto:active {
  transition: 0.3s;
  background-color: #2f68c4;
}

.border-fancy {
  border-radius: 37% 63% 67% 33% / 30% 33% 67% 70%;
}

.buttons-projects a{
  font-size: 1.25rem;
  font-weight: 600;
  color: #cbd5e1;
  border-radius: 2rem;
  background: #0f172a;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.6rem 1.2rem;
  transition: all 0.2s ease-out;
  transform: none;
  margin-top: 1rem;
  gap: 0.5rem;
}

.buttons-projects a:hover{
  background: #3d5075;
  transform: scale(1.1);
}

@keyframes pulsate {
  0% {
    transform: scale(0.5, 0.5);
    opacity: 0;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    transform: scale(1.4, 1.4);
    opacity: 0;
  }
}

@keyframes heart-pulse {
  0% {
    transform: scale(0.75, 0.75);
  }
  30% {
    transform: scale(1, 1);
  }
}

.pulse-base {
  position: absolute;
  height: 3.15rem;
  width: 3.15rem;
  border: 0.95rem solid transparent;
  border-radius: 100%;
  margin: 0 auto;
}

.pulse-base:before {
  content: '';
  border: 0.85rem solid #e7f6ff;
  border-radius: 100%;
  height: 2.5rem;
  width: 2.5rem;
  position: absolute;
  left: -0.6rem;
  bottom: 0.07rem;
  animation: pulsate 2.5s ease-out;
  animation-iteration-count: infinite;
  opacity: 0;
  z-index: 30;
}

/*.pulse-base {
  position: absolute;
  height: 60px;
  width: 60px;
  border: 15px solid transparent;
  border-radius: 50%;
  margin: 0 auto;
}

.pulse-base:before {
  content: '';
  border: 15px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  height: 60px;
  width: 60px;
  position: absolute;
  left: -15px;
  bottom: -15px;
  animation: pulsate 1.6s ease-out;
  animation-iteration-count: infinite;
  opacity: 0;
  z-index: 99;
}*/